worker_processes {{.WorkerProcesses}};

events {
    worker_connections {{.WorkerConnections}};
}

http {
    include       {{.PrefixDir}}/conf/mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    access_log {{.LogDir}}/nginx_access.log;
    error_log  {{.LogDir}}/nginx_error.log;

    server {
        listen       {{.Listen}};
        server_name  {{.ServerName}};
        root         {{.DocumentRoot}};
        index        index.php index.html index.htm;

        location / {
            try_files $uri $uri/ /index.php?$query_string;
        }

        location ~ \.php$ {
            fastcgi_pass   127.0.0.1:9000;
            fastcgi_index  index.php;
            fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include        {{.PrefixDir}}/conf/fastcgi_params;
        }
    }

    include {{.ConfDir}}/sites/*.conf;
}
