[client]
port={{.Port}}

[mysqld]
datadir={{.DataDir}}
port={{.Port}}
bind-address=0.0.0.0

default-storage-engine=InnoDB
innodb_buffer_pool_size=128M
innodb_file_per_table=1

key_buffer_size=256M
max_allowed_packet=512M
table_open_cache=256
sort_buffer_size=1M
read_buffer_size=1M
read_rnd_buffer_size=4M
thread_cache_size=8
max_connections=100

secure-file-priv=""
explicit_defaults_for_timestamp=1
skip-name-resolve

log-error={{.LogDir}}/mysql_error.log

[mysqldump]
quick
max_allowed_packet=512M
